
@model IEnumerable<Department_Store.Models.DanhMuc>

<div>
    @foreach (var item in Model)
    {
        <button class="btn btn-outline-primary">@Html.ActionLink(item.TenDM, "DanhMucSP", new { id = item.MaDM })</button>
    }
</div>


