
@*@model IEnumerable<Department_Store.Models.DanhMuc>
@{
    ViewBag.Title = "DanhMuc";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Danh Mục</h2>
@Html.ActionLink("Thêm danh muc", "ThemDM", "Home", new { area = "" }, new { @class = "btn btn-outline-primary" })
@foreach (var item in Model)
{
    <td><p>@Html.ActionLink(item.TenDM, "DanhMucSP", new { id = item.MaDM })</p></td>
    <hr>
}*@

